@model IEnumerable<NewWorld.Models.Cause>

@{
    ViewBag.Title = "BrowseCause";
}

<h2>BrowseCause</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExplaineIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExplaineIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="/Home/BrowseCause/SignCause/@item.CauseID" input type="submit" value="Sign" class="btn btn-default" /> |

        </div>
      }
        </td>
    </tr>
}

</table>
